<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Webgl demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/claus/react-dat-gui@master/dist/index.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>
